.jumbotron {
  background-color: darkgreen;
  color: black;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  color: lightgray;
}

h2 {
  color: lightgreen;
  font-size: small;
}

p {
  color:lightgray;
}

body {
  margin: 50px 0px auto auto;
  text-align: center;
}

nav a{
  padding: 15px;
  padding-bottom: 4px;
  color: lightgray;
}
