.jumbotron {
  background-color: darkgreen;
  color: black;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  color: lightgray;
}

h2 {
  color: lightgreen;
  font-size: small;
}

p {
  color:lightgray;
}

body {
  text-align: center;
}

nav a{
  padding-bottom: 5px;
  color: lightgray;
}
