</body>
<footer>
  <img class="solarsystemfooter" src="/img/solarsystem.jpg" alt="Solar System">
  <br> &copy; 2020. <br>
  <h2>
  Disclaimer: The information in this page might not be accurate.
  <h2>
</footer>
</html>
