<!DOCTYPE html>
<html>
    <body>
        <%- include('partials/header') -%>
        <nav>
            <hr width="50%" />
            <a action="/index">Home</a>
            <a href="/about">C++</a>
            <a href="/contact">Java</a>
            <b href="/pascal">Pascal</>
        </nav>

        <br /><br />
        
        <figure id="servers">
            <img src="/img/pascal.png" alt="Picture of a pascal logo" />
        </figure>
        

        <ul>
            <li><span class="hobby">Advantages</span>: Pascal is a teaching language. It uses keywords instead of C-style 
            braces and the symbols, making it easier for the beginners to understand.</li>
            <li><span class="hobby">Disadvantages</span>: Largely because Pascal is mostly referred to as a teaching language,
            there aren't many programs written in Pascal.</li>
        </ul>
        <%- include('partials/footer') -%> 
    </body>
</html>