<!DOCTYPE html>
<%- include ('partials/header'); -%>
<html>

<body>
	<div class='jumbotron'>
        <div class='container'>
            This is the admin page!
            <form action="/home" method = "GET">
                <button>Return Home</button>
            </form>
        </div>
    </div>
</body>
            