<!DOCTYPE html>
<%- include ('partials/header'); -%>
<html>

<body>
	<div class='jumbotron'>
        <div class='container'>
            This is the admin page!
        </div>
    </div>
</body>
            