<!DOCTYPE html>
<%- include ('partials/header'); -%>
<html>

<body>
    <form method="POST">
        <div class='container'>
            This is the admin page!
        </div>
    </form>
</body>
            