<!DOCTYPE html>
<html>
    <body>
        <%- include('partials/header') -%>
        <nav>
            <hr width="50%" />
            <a href="/index">Home</a>
            <b href="/c++">C++</b>
            <a href="/java">Java</a>
            <a href="/pascal">Pascal</a>
        </nav>

        <br /><br />
        
        <figure id="servers">
            <img src="images/c++.png" alt="Picture of c++ logo" />
        </figure>

        <ul>
            <li><span class="hobby">Advantages</span>: C++ is great for large projects. It is very efficient, because the syntax is strict. 
            Programmers use C++ as it makes the programs faster and smaller than programs in other languages.</li>
            <li><span class="hobby">Disadvantages</span>: Some may find C++ frustrating if it is not their first language, 
            because of the strict syntax. Also, memory management can be difficult for beginners!</li>
        </ul>
        <%- include('partials/footer') -%> 
    </body>
</html>