<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheets/styles.css">
      <title>Gender Checking</title>
    </head>
    
    
    
   <body>
    <div class="container">

      <div class="jumbotron">
        <h1>Gender Name Checking</h1>
        <form id="genderLookup" method="get">
          <label class="col-sm-2">Name:</label>
          <input id="inputName" class="col-sm-4" type="text" name="inputName">
          <button class="btn btn-primary" type="submit" id="submit">Lookup</button>
        </form>
      </div>

        <div class="flex-container">
          <h2 class = "flex-item" id="nameBox"></h4>
          <br>
          <h2 class = "flex-item" id="genderBox"></h4>
        </div>

    </div>
    
    <script type="text/javascript" SRC="javascripts/java.js"></script>
  </body>
</html>