<!DOCTYPE html>
<html>
    <body>
        <%- include('partials/header') -%>
        <nav>
            <hr width="50%" />
            <b href="/index">Home</b>
            <a href="/c">C++</a>
            <a href="/java">Java</a>
            <a href="/pascal">Pascal</a>
        </nav>
        
        <br /><br />
        
        <main>
            <figure id="servers">
                <img src="/img/servers.png" alt="Picture of server farm" />
            </figure>
            
            <div id="servers">
                <p>For programming, there are many languages to choose from! <br>
                However, most programmers don't know the advantages to using one over
                the other.</p>
                
                <p>I hope to educate those visiting this website on some of these
                differences..</p>
                
                <p>Please, enjoy!</p>
                
                <p>Source: <a href="https://www.online-sciences.com/programming/programming-languages-types-features-advantages-and-disadvantages/">online-sciences.com</a></p>
                <br /><br />
            </div>
        </main>
        <%- include('partials/footer') -%> 
    </body>
</html>