<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Pixabay</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body class="text-center">
    <h1 class="jumbotron">Pixabay Image Search</h1>
    <form id="imageSearch" class="container" method="get">
      Keyword: <input type="text" id="keyword" name="keyword">
      <br>
      Orientation: <select id=orientation>
          <option value="hor">Horizontal</option>
          <option value="ver">Vertical</option>
      </select>
      <input type="submit" id="submit" value="Search">
      <br><br>
    </form>
    <div class="row justify-content-center">
      <div class="col-4">
        <span id="pic1Likes"></span>
        <br>
        <img src="" id="first">
      </div>
      <div class="col-4">
        <span id="pic2Likes"></span>
        <br>
        <img src="" id="second">
      </div>
      <div class="col-4">
        <span id="pic3Likes"></span>
        <br>
        <img src="" id="third">
      </div>
      <div class="col-4">
        <span id="pic4Likes"></span>
        <br>
        <img src="" id="fourth">
      </div>
    </div>
    
    <script>
        
        var keywords = ["cars", "sports", "animals", "people", "places", "castles"];
        let randomKeyword = Math.floor(Math.random() * 6);

        let rand1 = Math.floor(Math.random() * 40);
        let rand2 = Math.floor(Math.random() * 40);
        let rand3 = Math.floor(Math.random() * 40);
        let rand4 = Math.floor(Math.random() * 40);

        $(document).ready(function() {
            $.ajax({
                method: "GET",
                url: "https://pixabay.com/api/",
                dataType: "json",
                data: { "key": "13951242-f031e44171b4cc55e1cbaabed", "q": keywords[randomKeyword], "orientation": $("#orientation").val() },
                success: function(result, status) {
                    $("#first").attr('src', result.hits[rand1].previewURL);
                    $("#second").attr('src', result.hits[rand2].previewURL);
                    $("#third").attr('src', result.hits[rand3].previewURL);
                    $("#fourth").attr('src', result.hits[rand4].previewURL);

                    $("#pic1Likes").html(result.hits[rand1].likes);
                    $("#pic2Likes").html(result.hits[rand2].likes);
                    $("#pic3Likes").html(result.hits[rand3].likes);
                    $("#pic4Likes").html(result.hits[rand4].likes);
                }
            });

            $("#imageSearch").submit(function(e) {
                e.preventDefault();

                $.ajax({
                    method: "GET",
                    url: "https://pixabay.com/api/",
                    dataType: "json",
                    data: { "key": "13951242-f031e44171b4cc55e1cbaabed", "q": $("#keyword").val(), "orientation": $("#orientation").val() },
                    success: function(result, status) {
                        let index1 = Math.floor(Math.random() * result.hits.length);
                        let index2 = Math.floor(Math.random() * result.hits.length);
                        let index3 = Math.floor(Math.random() * result.hits.length);
                        let index4 = Math.floor(Math.random() * result.hits.length);

                        $("#first").attr('src', result.hits[index1].previewURL);
                        $("#second").attr('src', result.hits[index2].previewURL);
                        $("#third").attr('src', result.hits[index3].previewURL);
                        $("#fourth").attr('src', result.hits[index4].previewURL);

                        $("#pic1Likes").html(result.hits[rand1].likes);
                        $("#pic2Likes").html(result.hits[rand2].likes);
                        $("#pic3Likes").html(result.hits[rand3].likes);
                        $("#pic4Likes").html(result.hits[rand4].likes);
                    }

                });
            });
        });
    </script>
    
    

  </body>
</html>