<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <title> Pixabay Image Search </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="/public/styles.css" rel="stylesheet" type="text/css" />
    </head>
    
    
    
        <body class="text-center">
        <h1 class="jumbotron", background-color="green">Pixabay Image Search</h1>
        <form id="imageSearch" class="container" method="get">
          Keyword: <input type="text" id="keyword" name="keyword">
          <br>
          Orientation: <select id=orientation>
              <option value="horizontal">Horizontal</option>
              <option value="vertical">Vertical</option>
          </select>
          <input type="submit" id="submit" value="Search">
          <br><br>
        </form>
    
    
    
    First Image
    <div class="img">
        <span id="img1Likes"></span>
        <br>
        <img src="" id="first">
      </div>
      <br>
      
      Second Image
     <div class="img">
        <span id="img2Likes"></span>
        <br>
        <img src="" id="second">
      </div>
      <br>
      
      Third Image
      <div class="img">
        <span id="img3Likes"></span>
        <br>
        <img src="" id="third">
      </div>
      <br>
      
      Fourth Image
      <div class="img">
        <span id="img4Likes"></span>
        <br>
        <img src="" id="fourth">
      </div>
      
    
    
    <script>

        
        $(document).ready(function() {
            
            
            //Predetermined array
            var firstImgs = ["sand", "mountains", "landscapes", "stuff", "blocks", "chairs", "interior", "crocodile", "alligator"];
            let firstImg = Math.floor(Math.random() * 8);    
            
            //Generating it the first time from the array
            $.ajax({
                method: "GET",
                url: "https://pixabay.com/api/",
                dataType: "json",
                data: { "key": "13951242-f031e44171b4cc55e1cbaabed", "q":  firstImgs[firstImg], "orientation": $("#orientation").val() },
                success: function(result, status) {
                    let rand1 = Math.floor(Math.random() * result.hits.length);
                    let rand2 = Math.floor(Math.random() * result.hits.length);
                    let rand3 = Math.floor(Math.random() * result.hits.length);
                    let rand4 = Math.floor(Math.random() * result.hits.length);
                
                    $("#first").attr('src', result.hits[rand1].previewURL);
                    $("#second").attr('src', result.hits[rand2].previewURL);
                    $("#third").attr('src', result.hits[rand3].previewURL);
                    $("#fourth").attr('src', result.hits[rand4].previewURL);

                    $("#img1Likes").html(result.hits[rand1].likes + " likes");
                    $("#img2Likes").html(result.hits[rand2].likes + " likes");
                    $("#img3Likes").html(result.hits[rand3].likes + " likes");
                    $("#img4Likes").html(result.hits[rand4].likes + " likes");
                }
            });
            
            //When the image search form is submitted this function is called to populate
            //images 1-4 with the keywords and orientation selected
            $("#imageSearch").submit(function(e) {
                e.preventDefault();

                $.ajax({
                    method: "GET",
                    url: "https://pixabay.com/api/",
                    dataType: "json",
                    data: { "key": "13951242-f031e44171b4cc55e1cbaabed", "q": $("#keyword").val(), "orientation": $("#orientation").val() },
                    success: function(result, status) {
                        let index1 = Math.floor(Math.random() * result.hits.length);
                        let index2 = Math.floor(Math.random() * result.hits.length);
                        let index3 = Math.floor(Math.random() * result.hits.length);
                        let index4 = Math.floor(Math.random() * result.hits.length);

                        $("#first").attr('src', result.hits[index1].previewURL + " likes");
                        $("#second").attr('src', result.hits[index2].previewURL + " likes");
                        $("#third").attr('src', result.hits[index3].previewURL + " likes");
                        $("#fourth").attr('src', result.hits[index4].previewURL + " likes");

                        $("#img1Likes").html(result.hits[rand1].likes);
                        $("#img2Likes").html(result.hits[rand2].likes);
                        $("#img3Likes").html(result.hits[rand3].likes);
                        $("#img4Likes").html(result.hits[rand4].likes);
                    }

                });
            });
        });
    </script>

  </body>
</html>