<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script> 
        <meta charset="utf-8">
        <title>US Quiz</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                
                //Globals
                var score = 10;
                
                //event Listeners
                $("button").on("click", spinMachine);
                
                //functions
                
                function spinMachine() {
                    
                    
                    
                    setInterval(function() {
                      var ranNum = 1 + Math.floor(Math.random() * 3);
                    },
                    1000);
                    
                    
                    
                    //Slot 1
                    $("#slot1").fadeOut('fast', function() {
                    $('#slot1').attr('src', 'images/bar.png');
                    $("#slot1").delay(200).fadeIn();
                    });
                    //Slot 2
                    $("#slot2").fadeOut('fast', function() {
                    $('#slot2').attr('src', 'images/bar.png');
                    $("#slot2").delay(200).fadeIn();
                    });
                    //Slot 3
                    $("#slot3").fadeOut('fast', function() {
                    $('#slot3').attr('src', 'images/bar.png');
                    $("#slot3").delay(200).fadeIn();
                    });
                    
                    
                    $("#totalScore").html(`Total Points: ${ranNum}`);
                    
                }
            })//ready
        </script>
    </head>
    <body class="text-center">
        
        <h1 class="jumbotron"> Time For A Gambling Addiction! </h1>
        
        <h3></span>How much do you want to bet?</h3>
        <input type="text" id="q1">
        <button class="btn btn-outline-success"> Spin!</button>
        <br></br>
        
        <img src="images/7.png" alt="7" class="slots" id="slot1">
        <img src="images/7.png" alt="7" class="slots" id="slot2">
        <img src="images/7.png" alt="7" class="slots" id="slot3">
        <br></br>
        
        <h2 id="totalScore" class="text-info"></h2>
        
    </body>
</html>