
<!DOCTYPE html>
<html>
    <%- include('partials/header') -%>
    <body>

        <h1> Pixabay Search (Express Version) </h1>
        
        <form action="/results" method="GET">
            
            <h2>Keyword:</h2> <input type="text" name="keyword">
            <button> Search! </button>
            
        </form> <br>
        
        <img src='<%=image%>'>

    </body>
</html>