<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <title> Pixabay Image Search </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    
    
    
        <body class="text-center">
        <h1 class="jumbotron">Rando Doggo Gallery-o</h1>
        <form id="imageSearch" class="form" method="get">
          Keyword: <input type="text" id="keyword" name="keyword">
          <br>

          <input type="submit" id="submit" value="Search">
          <br><br>
        </form>
    
    
    <script>

        
        $(document).ready(function() {
            
            
            //Generating it the first time from the array
            $("#imageSearch").submit(function(e) {
                e.preventDefault();

                $.ajax({
                    method: "GET",
                    url: "https://dog.ceo/api/breeds/image/random/" + $("#keyword").val(),
                    dataType: "json",
                    success: function(result, status) {
                       
                        var counter = 1;
                        while (counter <= $("#keyword").val()) {
                        var img = new Image(); 
                        img.src =  result.hits[counter].previewURL;
                        document.getElementById('body').appendChild(img);
                        
                        }
                    }

                });
            });
        });
    </script>

  </body>
</html>