<!DOCTYPE html>
<html>
    <%- include('partials/header') -%>
    <body>

        <div class= 'jumbotron'>
        <h1> Open Library API Search </h1>
        </div>
        
        <form action="/results" method="GET">
            
            Keyword: <input type="text" name="keyword">
            <br>
            <button> Search! </button> 
        </form> <br><br>
        
    </body>
</html>