<!DOCTYPE html>
<html>
    <body>
        <%- include('partials/header') -%>
        <nav>
            <hr width="50%" />
            <a href="/index">Home</a>
            <a href="/c++">C++</a>
            <b href="/java">Java</b>
            <a href="/pascal">Pascal</a>
        </nav>

        <br /><br />
        
         <figure id="servers">
            <img src="images/java.png" alt="Picture of java logo" />
        </figure>
        

        <ul>
            <li><span class="hobby">Advantages</span>: Java is a multi-platform language which is great for networking. 
            The most common usage of Java is on the web. Learning Java is quite easy for most C++ programmers.</li>
            <li><span class="hobby">Disadvantages</span>: Due to Java's more loose syntax, it is often more slow than
            C++, and the files can be larger because of libraries.</li>
        </ul>
        <%- include('partials/footer') -%> 
    </body>
</html>