<!DOCTYPE html>
<html>
<!--

First Website
and comment
in html
(comments can span multiple lines)

-->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>

        <link href="stylesheets/styles.css" rel="stylesheet" type="text/css" />
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        <header>
            <h1> Java </h1>
        </header>
        <nav>
            <hr width="50%" />
            <a href="/index">Home</a>
            <a href="/about">C++</a>
            <b href="/contact">Java</b>
            <a href="/pascal">Pascal</a>
        </nav>
        
        <br /><br />
        
         <figure id="servers">
            <img src="images/java.png" alt="Picture of java logo" />
        </figure>
        

        <ul>
            <li><span class="hobby">Advantages</span>: Java is a multi-platform language which is great for networking. 
            The most common usage of Java is on the web. Learning Java is quite easy for most C++ programmers.</li>
            <li><span class="hobby">Disadvantages</span>: Due to Java's more loose syntax, it is often more slow than
            C++, and the files can be larger because of libraries.</li>

        </ul>
        
        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <hr>
            CST 336 2020&copy; Abbett <br />
            <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
            It is used for academic purposes only.
            
            <figure id="csumb">
                <img src="images/csumbo.png" width="200" height="100" alt="Picture of CSUMB Otter" />
            </figure>
            
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>