<!DOCTYPE html>
<%- include ('partials/header'); -%>
<html>

<body>
    <form>
        <div class='container'>
            <div class='jumbotron'>
                Username: <input type="text" name="username">
                <br>
                Password: <input type="password" name="password">
                <br>
                <button>
                    Login
                </button>
            </div>
        </div>
    </form>
</body>

</html>