<!DOCTYPE html>
<html>
<!--

First Website
and comment
in html
(comments can span multiple lines)

-->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>

        <link href="stylesheets/styles.css" rel="stylesheet" type="text/css" />
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        <header>
            <h1> Pascal </h1>
        </header>
        <nav>
            <hr width="50%" />
            <a href="/index">Home</a>
            <a href="/about">C++</a>
            <a href="/contact">Java</a>
            <b href="/pascal">Pascal</b>
        </nav>
        
        <br /><br />
        

        <ul>
            <li><span class="hobby">Advantages</span>: Pascal is a teaching language. It uses keywords instead of C-style 
            braces and the symbols, making it easier for the beginners to understand.</li>
            <li><span class="hobby">Disadvantages</span>: Largely because Pascal is mostly referred to as a teaching language,
            there aren't many programs written in Pascal.</li>
        </ul>
        
        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <hr>
            CST 336 2020&copy; Abbett <br />
            <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
            It is used for academic purposes only.
            
            <figure id="csumb">
                <img src="images/csumbo.png" width="200" height="100" alt="Picture of CSUMB Otter" />
            </figure>
            
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>