body {
    background-color: lightblue;
}

.jumbotron {
    background-color: lightgreen;
    border-style: solid;
}

.img {
    color: darkblue ;
}

.form {
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-color: purple;
    width: 500px;
}